
html{
    font-family: Arial;
}
.logged_user{
    float: right;
    font-size: 14px;
}
.logged_user a{
    text-decoration: none;
    color: #0096eb;
}
.logged_user a:hover{
    text-decoration: underline;
}

#container{
    width: 100%;
    margin: 0px auto;
    height: 100%;
}
#soci_stats{
    font-family: Arial;
    font-size: 14px;
    color:#0096eb;
    letter-spacing: 1px;
}
#socigridbox{
    width: 60%;
    float: left;
    border: 1px solid #ccc;
}
#socigriddetails{
    width: 39%;
    margin-left: 61%;
}
#modSocioForm{
    padding: 5px;
}
#modSocioParentela{
    padding: 5px;
    font-size: 14px;
    color: #333;
}
.form_aggiunta_parente{
    border: 1px dotted #666;
    width: 100%;
}
.form_aggiunta_parente td{
    padding: 3px;
    
}
.form_aggiunta_parente select{
    width: 100%;
    
}
.table_parentela{
     width: 100%;
}
.table_parentela td{
    border-bottom: 1px solid #ccc;
}
#corsigridbox{
    width: 60%;
    float: left;
    border: 1px solid #ccc;
}
#corsigriddetails{
    width: 39%;
    margin-left: 61%;
}
#lista_corso_elemento{
    padding: 5px;
    overflow: auto;
    height: 450px;
    font-size: 14px;
}
#lista_corso_elemento .orari{
    text-align: center;
    padding:3px;
}
#lista_corso_elemento .line{
    border: 1px solid #ccc;
    margin-bottom: 5px;
    /*padding-left: 5px;*/
}
#lista_corso_elemento .line:hover{
    border: 1px solid #0096eb;
    cursor: pointer;
/*    margin-bottom: 5px;
    padding-left: 5px;*/
}
#lista_corso_elemento p{
    /*font-weight: bold;*/
    font-size: 14px;
    border-bottom: 2px solid #0096eb;
    background-color: #eee;
    padding: 4px;
    margin: 0px;
}
#lista_corso_elemento p.stat{
    background-color: #ddd;
    color: #555;
    margin: 0px;
    margin-bottom: 8px;
    padding: 5px;
    border-bottom: 0px;
}
#lista_corso_elemento p.stat_err{
    background-color: #ddd;
    color: red;
    margin: 0px;
    margin-bottom: 8px;
    padding: 5px;
    border-bottom: 0px;
}
#container_iscritti{
    font-family: Arial;
    padding: 4px;
}
#aggiunta_iscritto{
    font-family: Arial;
    padding: 8px;
    border: 1px solid #0096eb;
}
#dettaglioSocio{
    font-family: Arial;
    padding: 8px;
    font-size: 13px;
    overflow: auto;
    height: 100%;
}
#dettaglioSocio div{
    border: 1px solid #ccc;
}
#dettaglioSocio p.title{
    font-weight: bold;
    font-size: 14px;
    border-bottom: 2px solid #0096eb;
    background-color: #eee;
    padding: 4px;
    margin: 0px;
}
#dettaglioSocio p.line{
    padding: 4px;
}
.button_aggiungi{
    color: white;
    padding: 3px;
    background-color: #0096eb;
    border: 1px solid #0096eb;
}
.button_aggiungi_fullsize{
    color: white;
    width: 100%;
    padding: 3px;
    background-color: #0096eb;
    border: 1px solid #0096eb;
}
.success_message{
    color: green;
    font-weight: bold;
    border: 1px solid green;
    text-align: center;
    width: 80%;
    padding: 20px;
    margin: 0px auto;
}
.error_message{
    color: red;
    font-weight: bold;
    border: 1px solid red;
    text-align: center;
    width: 80%;
    padding: 20px;
    margin: 0px auto;
}